:root{
    --search-padding: 14px;
    --search-opacity: 0.5;
}

*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body{
    background-color: #FFFFFF;
}

a {
    display: inline-block;
    font-family: Arial;
    text-decoration: none;
    color: blue;
}

p {
    font-family: Arial;
    font-size: 13px;
}

button {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: 26vh auto;
    grid-template-columns: 1fr;
}

.nav-group-left{
    display: flex;
    justify-content: left;
}

.nav-group-right{
    display: flex;
    justify-content: right;
}

.nav-div-left, .nav-div-right{
    display: flex;
    align-items: end;
    padding-top: 1rem;
}

.nav-div-left{
    padding-left: 1rem;
}

.div-about, .div-store{
    padding-left: 1vw;
}

.nav-div-right{
    padding-right: 2vw;
}

.div-gmail, .div-images, .div-gmail-account-image{
    padding-right: 0.5rem;
}

.main-grid{
    display: grid;
    justify-content: center;
}

.div-google-logo{
    display: grid;
    min-height: 45vh;
    align-items: end;
    justify-content: center;
}

.div-button-search-lucky{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
}

.button-search, .button-lucky{
    padding: .3em .3em .1em .3em;
}

main{
    display: grid;
}

.google-logo {
    display: block;
    width: 250px;
    padding-bottom: 1rem;
}

.search-grid {
    display: grid;
    align-content: center;
    min-height: 8vh;
    padding: 0 .8em 0.2em .8em;
}

.search-grid-searchbar{
    min-width: 500px;
    width: 38vw;
    max-height: fit-content;
    display: flex;
    align-items: center;
    padding: calc(var(--search-padding) / 2) var(--search-padding);
    border-radius: calc(var(--search-padding) * 2);
    background: #ffffff;
    border: 1px solid #333;
    transition: background 500ms, border 500ms, box-shadow 500ms; /* background, box-shadow, border */
}

.search-bar {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', sans-serif, 'Freestyle Script';
    color: #333333;
    margin: 0 var(--search-padding);
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
}

.search-grid-searchbar:hover {
    box-shadow: 4px 4px 8px rgba(0,0,0,0.6);
}

.search-grid-searchbar:focus-within{
    border: 1px solid rgb(56, 76, 255);
    box-shadow: 4px 4px 8px rgba(0,0,0,0.6);
    background: #ffffff;
}

.search-grid-searchbar:focus-within .search-bar::placeholder{
    color: rgba(0,0,0,calc(var(--search-opacity) - 0.2));
}

.search-bar::placeholder{
    color: rgba(0,0,0,var(--search-opacity));
}

.loupe{
    opacity: calc(var(--search-opacity) + 0.2);
}

.search-grid-items-right, .search-grid-items-left{
    padding-top: 0.6rem;
    cursor: context-menu;
}

.search-grid-items-left{
    position: absolute;
}

.search-grid-items-right{
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    width: fit-content;
    position: absolute;
    z-index: 1;
}

.grid-item-vocal, .grid-item-lens{
    cursor: pointer;
}

.vocal, .lens {
    cursor: pointer;
    padding: 0 .4em;
}

.about, .store {
    font-size: 14px;
    transition: 0.15s;
    color: darkslategrey;
}

.user-own-gmail, .user-own-images {
    font-size: 13px;
    transition: 0.15s;
    color: darkslategrey;
}

.about:hover,
.store:hover,
.user-own-gmail:hover,
.user-own-images:hover {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(28, 109, 109);
}

.gmail-logo {
    width: 20px;
    border-radius: 3px;
}

.gmail-logo:hover {
    cursor: pointer;
    box-shadow: 5px 5px 10px darkgrey;
}

.link-search {
    color: black;
}

.link-search:hover {
    cursor: context-menu;
}

.link-lucky {
    color: black;
}

.link-lucky:hover {
    cursor: context-menu;
}

.unusefull_declarations_container{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    min-width: fit-content;
    max-width: 50vw;
    padding-bottom: 8vh;
}

.unusefull_declarations {
    color: blue;
    font-size: 15px;
    transition: 0.15s;
    padding: 0 1em;
}

.privacy-terms:active,
.unusefull_declarations:active {
    color: #551A8B;
}

.terms {
    display: flex;
    justify-content: center;
    min-width: fit-content;
}

.year {
    font-size: 13px;
    color: black;
    display: inline-block;
}

.hyphen {
    padding: 0 .5vw;
    font-size: 13px;
    color: black;
    display: inline-block;
}

.privacy-terms {
    font-size: 13px;
    transition: 0.15s;
}

.about:hover,
.store:hover {
    opacity: 0.85;
}

@media (max-width: 600px) {
    .google-logo{
        min-width: 190px;
        max-width: 42vw;
    }
    .search-grid-searchbar{
        min-width: 80vw;
    }
    .vocal, .lens{
        padding: 0 5px;
    }
    footer{
        grid-template-rows: 12vh auto;
        padding-top: 14vh;
    }
    .unusefull_declarations_container{
        display: grid;
        align-items: start;
        justify-items: center;
        padding: 0;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 1fr 1fr;
        min-height: 6vh;
        max-height: 10vh;
    }
    .unusefull_declarations{
        padding: 0;
    }
    .unusefull_declarations_spacing{
        width: 10vw;
    }
}

@media (max-width: 450px) {
    .unusefull_declarations{
        font-size: 13.5px;
    }
}

@media (max-width: 315px) {
    .store, .about{
        font-size: 13px;
    }
    .user-own-gmail, .user-own-images{
        font-size: 12px;
    }
    .div-google-logo{
        min-height: 45vh;
    }
    .google-logo{
        min-width: 160px;
        max-width: 42vw;
    }
    .search-grid-searchbar{
        min-width: 80vw;
        padding: calc(var(--search-padding) / 2) calc(var(--search-padding) / 1.5);
    }
    .div-button-search-lucky{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: end;
        min-height: 6.25vh;
    }
    .div-button-search, .div-button-lucky{
        width: fit-content;
        display: flex;
    }
    .div-button-search{
        justify-self: end;
        padding-right: 3vw;
    }
    .button-lucky, .button-search{
        margin: 0;
    }
    .button-lucky>a, .button-search>a{
        font-size: 12px;
    }
    .search-bar{
        margin: 0;
        margin-left: 2px;
    }
    .vocal, .lens{
        padding: 0 3px;
    }
    footer{
        grid-template-rows: 12vh auto;
        padding-top: 14vh;
    }
    .unusefull_declarations_container{
        display: grid;
        align-items: start;
        justify-items: center;
        padding: 0;
        grid-template-columns: 1fr 1.1fr;
        grid-template-rows: 1fr 1fr;
        min-height: 6vh;
        max-height: 10vh;
        width: fit-content;
    }
    .unusefull_declarations{
        padding: 0;
        font-size: 12px;
    }
    .unusefull_declarations_spacing{
        display: none;
    }
    .year, .hyphen, .privacy-terms{
        font-size: 11px;
    }
}

@media (max-height: 450px) {
    .div-google-logo{
        min-height: fit-content;
    }
    .google-logo{
        padding: 1rem 0;
    }
    .main-grid{
        grid-template-rows: 40vh auto auto;
    }
    .unusefull_declarations_container{
        padding-bottom: 6vh;
    }
    .terms{
        max-height: 20vh;
    }
    footer{
        grid-template-rows: auto auto;
        padding-top: 10vh;
    }
}

@media (max-height: 350px) {
    .main-grid{
        grid-template-rows: 36vh auto auto;
    }
    footer{
        padding-top: 10vh;
    }
    .unusefull_declarations_container{
        padding-bottom: 5vh;
    }
}

@media (max-height: 300px) {
    .nav-div-left, .nav-div-right{
        padding-top: 0.5rem;
    }
    .main-grid{
        grid-template-rows: 35vh auto auto;
    }
    .google-logo{
        padding: 0 0 0.3rem 0;
    }
    footer{
        padding-top: 5vh;
    }
    .unusefull_declarations_container{
        padding-bottom: 3vh;
    }
}
