a {
    text-indent: 10px;
    text-decoration: none;
    color: black;
    transition: 0.15s;
}

a:hover {
    opacity: 0.8;
    cursor: pointer;
    text-decoration: underline;
    padding-left: 5px;
}

p {
    transition: 0.15s;
    font-size: 16px;
    font-weight: bold;
    background-color: aquamarine;
    width: max-content;
}

p:hover {
    cursor: unset;
}

.hyphen:hover {
    background-color: red;
}

img {
    padding-left: 8px;
}

.logo {
    height: 28px;
    width: 28px;
    object-fit: cover;
    margin-left: 8px;
    border-radius: 100px;
    margin-top: 6px;
}